{% extends 'ridevide_app/base.html' %}

{% block content %}

	<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '624070504367848',
          xfbml      : true,
          version    : 'v2.0'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

	<div class="content-section-b">

		<div class="ride_detail_container">

			<h3>Date</h3>
			<p>{{ ride.date }}</p>

			<h3>Time</h3>
			<p>{{ ride.time }}</p>

			<h3>Departure</h3>
			<p>{{ ride.departure }}</p>

			<h3>Destination</h3>
			<p>{{ ride.destination }}</p>

			<h3>Riders</h3>
			{% for rider in ride.riders.all %}
				<form action="/delete_rider/{{ ride_id }}/" method="post">
					{% csrf_token %}
					<p>
						<a href="{{ rider.get_url }}" target="_blank">{{ rider.user.first_name }} {{ rider.user.last_name }}</a>
						{% if request.user == rider.user %}
								<input type="submit" value="X" class="btn btn-sm">
						{% endif %}
					</p>
				</form>
			{% endfor %}

			{% if request.user.profile in ride.riders.all %}
				<a href="http://www.facebook.com/dialog/send?app_id=624070504367848&link=http://www.ridevide.com{{ request.path }}&redirect_uri=http://www.ridevide.com{{ request.path }}&to=">Message Group</a>
				<script>
				    FB.ui(
				     {
				      method: 'send',
				      to: [5,6],
				      link: "https://developers.facebook.com",
				      picture: "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/174597_20531316728_2866555_q.jpg"
				     },
				     function(param){
				            // If they cancel params will show:
				            //    {action:false, ...}
				            // and if they send the friend request it'll have:
				            //    {action:true, ...}
				            // and if they closed the pop-up window then:
				            //    param is undefined
				     }
				    );
				</script>
				<p>{{ request.path }}</p>
				<p>{{ request.get_full_path }}</p>
			{% elif ride.riders.all|length <= 4 %}
				<form action="/add_rider/{{ ride_id }}/" method="post">
					{% csrf_token %}
					<br>
					<input type="submit" value="Join Ride" class="btn btn-primary btn-sm">
				</form>
			{% else %}
				<br>
				<h3 class="text-danger">Ride is Full</h3>
			{% endif %}

		</div>

	</div>

{% endblock %}