{% extends 'ridevide_app/base.html' %}

{% block content %}

<div class="container">
	<br><br><br><br>
	<h1>Stats</h1>
	<h3>Total rides: <span class="text-info">{{ total_rides|length }}</span></h3>
	<ul>
		<li>Completed rides: <span class="text-info">{{ completed_rides|length }}</span></li>
		<ul>
			<li>Completed rides with 2 or more riders: <span class="text-info">{{ completed_rides_with_more_than_2_riders }}</span></li>
			<li>Completed rides with 3 or more riders: <span class="text-info">{{ completed_rides_with_more_than_3_riders }}</span></li>
			<li>Completed rides with 4 riders: <span class="text-info">{{ completed_rides_with_4_riders }}</span></li>
		</ul>
	</ul>
	<ul>
		<li>Upcoming Rides: <span class="text-info">{{ upcoming_rides|length }}</span></li>
	</ul>
	<h3>Total Users: <span class="text-info">{{ users|length }}</span></h3>
	<br>
	<a href="/stats/archives">View Ride Archives</a>
</div>

{% endblock %}