{% extends 'ridevide_app/base.html' %}

{% block content %}

<div class="container">
	<br><br><br><br>
	<h1>Stats</h1>
	<h3>Total Rides: <span class="text-info">{{ total_rides|length }}</span></h3>
	<ul>
		<li>Completed Rides: <span class="text-info">{{ completed_rides|length }}</span></li>
	</ul>
	<ul>
		<li>Upcoming Rides: <span class="text-info">{{ upcoming_rides|length }}</span></li>
	</ul>
	<h3>Total Users: <span class="text-info">{{ users|length }}</span></h3>
	<br>
	<a href="/stats/archives">View Ride Archives</a>
</div>

{% endblock %}